<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <description>La chaine du pilote JDBC utilisé pour se connecter à la BD.</description>
        <param-name>piloteJdbc</param-name>
        <param-value>com.mysql.jdbc.Driver</param-value>
    </context-param>
    <context-param>
        <description>L'URL de la BD pour les connexions JDBC.</description>
        <param-name>urlBd</param-name>
        <param-value>jdbc:mysql://localhost/kijiji2?user=root&amp;password=root</param-value>
    </context-param>
    <listener>
        <listener-class>com.kjj.listeners.EcouteurApplication</listener-class>
    </listener>
    <listener>
        <listener-class>com.kjj.listeners.EcouteurSession</listener-class>
    </listener>
    <listener>
        <listener-class>com.kjj.listeners.EcouteurRequete</listener-class>
    </listener>
    <servlet>
        <servlet-name>controleur</servlet-name>
        <servlet-class>com.kjj.web.ControleurFrontal</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>changements</servlet-name>
        <servlet-class>com.kjj.web.ControleurChangements</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connexion</servlet-name>
        <servlet-class>com.kjj.web.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deconnexion</servlet-name>
        <servlet-class>com.kjj.web.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>donneesCompte</servlet-name>
        <servlet-class>com.kjj.web.DonneesCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>editionAnnonce</servlet-name>
        <servlet-class>com.kjj.web.EditionAnnonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>commentaireAnnonce</servlet-name>
        <servlet-class>com.kjj.web.CommentaireAnnonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>profilCompte</servlet-name>
        <servlet-class>com.kjj.web.ProfilCompte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contact</servlet-name>
        <servlet-class>com.kjj.web.Contact</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>inscription</servlet-name>
        <servlet-class>com.kjj.web.Inscription</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>exploration</servlet-name>
        <servlet-class>com.kjj.web.Exploration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>consultationAnnonce</servlet-name>
        <servlet-class>com.kjj.web.ConsultationAnnonce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>recherche</servlet-name>
        <servlet-class>com.kjj.web.Recherche</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controleur</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>donneesCompte</servlet-name>
        <url-pattern>/datas</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
