/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-29, 13:43:35
    Author     : jycy
*/

.navbar{
    padding: 30px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: white;
    border-bottom: solid 1px;
    border-bottom-color: #c3c3c3;
    border-radius: 0px;
}
#Titre-accueil{
    margin-top: 150px;
    font-size: 56px;
}
#Message-accueil{
    margin-top: 30px;
}
#btn-accueil input{
    min-width:300px;
    min-height: 80px;
}
#btn-accueil{
    margin-top: 30px; 
}
@media (max-width:991px){
    .navbar{
        padding-right: 30px;
        padding-left: 30px; 
    }
}
#main{
    min-height: 50vh;
}
#Acceuil{
    display: none;
}
#form-inscrip{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
