/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2016-11-29, 13:43:35
    Author     : jycy
*/

.navbar{
    padding: 30px;
    padding-right: 80px;
    padding-left: 80px;
    background-color: white;
    border-bottom: solid 1px;
    border-bottom-color: #c3c3c3;
    border-radius: 0px;
}
.Titre-accueil{
    margin-top: 150px;
    font-size: 56px;
}
.Titre-main{
    margin-top: 100px;
    font-size: 56px;
}
#Message-accueil{
    margin-top: 30px;
}
#btn-accueil input{
    min-width:300px;
    min-height: 80px;
}
#btn-accueil{
    margin-top: 30px; 
}
@media (max-width:991px){
    .navbar{
        padding-right: 30px;
        padding-left: 30px; 
    }
}
#main{
    min-height: 50vh;
}
#inscription,#login,#Exploration,#Article,#menu-membre,#dash{
    display: none;
}
#form-inscrip,#form-login{
    padding-top: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.a-card:hover{
    text-decoration: none;
    color: #f4645f;
}
.a-card{
    color: #373a3c;
}
#Exploration{
    width: 100%;
    padding-top: 100px;
}
.a-card:visited{
    text-decoration: none;
    color: #373a3c;
}
.a-card:focus{
    text-decoration: none;
    color: #f4645f;
}
#photo{
    min-height: 300px;
    border: solid 1px #c3c3c3;
}
#art-row{
    width: 100%;
}
#Article{
   padding-top: 100px; 
}
@media (max-width:767px){
    #art-ajouter{ 
        text-align: center
    }
    #art-button-ajouter{
        width: 80%;
        height: 100px;
    }
}

#inscrire-submit{
    margin-bottom: 100px;
}
.pointer{
    cursor: pointer;
}

